<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.r0adkll.hackathon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Hackathon.Base"
        android:name=".App">

        <activity android:name=".ui.AppActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.screens.setup.LoginActivity" />
        <activity android:name=".ui.screens.setup.SignupActivity" />
        <activity android:name=".ui.screens.home.HomeActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.screens.detail.DetailActivity"
            android:theme="@style/Theme.Hackathon.Detail"
            />

        <activity android:name=".ui.screens.schedule.ScheduleActivity" />
        <activity android:name=".ui.screens.schedule.MyScheduleActivity" />
        <activity android:name=".ui.screens.home.TabbedHomeActivity"
            android:launchMode="singleTask"/>

        <!-- Ollie Content Provider -->
        <provider
            android:authorities="${applicationId}"
            android:name=".data.AppProvider"
            android:exported="false"
            />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
